.turntable-item {
    text-align: center;
    cursor    : pointer;
    width     : 246.666667px;
    height    : 380px;
    overflow  : hidden;

    @media @phone {
        width: 100%;
    }

    >h4 {
        font-size: 20px;
    }

    >img {
        width: 246.666667px;
    }

    >.lifetime {
        font-size: 14px;
    }
}