.layout {
    >header {
        >.pc-menu {
            @media @phone {
                display: none;
            }
        }

        >.menu-button {
            display : none;
            position: fixed;
            right   : 10px;
            top     : 12px;
            z-index : 2;
            padding : 10px;

            img {
                display: block;
            }

            @media @phone {
                display: block;
            }
        }
    }

    >footer {
        margin     : auto;
        margin-top : 75px;
        padding    : 40px 0;
        width      : 80%;
        max-width  : 1280px;
        border-top : 1px solid #ffffff;
        text-align : right;
        font-family: DungGeunMo;
        font-size  : 20px;

        >span {
            display: block;
        }

        >a {
            color: #BFC500;
        }

        @media @phone {
            font-size: 16px;
        }
    }
}