/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "BankGothic";
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: BankGothic;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 1.5em;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.connect-wallet-popup {
  position: relative;
  width: 320px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ffffff;
  background-color: #000000;
}
.connect-wallet-popup > .talker {
  position: absolute;
  left: 20px;
  top: -50px;
  width: 60px;
}
.connect-wallet-popup > p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.connect-wallet-popup > .button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: DungGeunMo;
}
.connect-wallet-popup > .button > img {
  margin-right: 10px;
}
.connect-wallet-popup > .connect-kaikas-button {
  background-color: #6f6558;
}
.connect-wallet-popup > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .cancel-button {
  border: 1px solid #ffffff;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: #000000;
  border: 1px solid #A1A1A1;
}
.mobile-menu > ul {
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 5px;
  color: #06BC00;
  font-size: 18px;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  color: #BFC500;
}
.mobile-menu > .language-select {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #A1A1A1;
}
.language-select {
  color: #BFC500;
  font-family: DungGeunMo;
}
.language-select > select {
  color: #BFC500;
  font-family: DungGeunMo;
  background-color: #000000;
  border: none;
}
.layout > header > .menu-button {
  display: none;
  position: fixed;
  right: 10px;
  top: 12px;
  z-index: 2;
  padding: 10px;
}
.layout > header > .menu-button img {
  display: block;
}
@media only screen and (max-width: 719px) {
  .layout > header > .menu-button {
    display: block;
  }
}

