/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "BankGothic";
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: BankGothic;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 1.5em;
}
a {
  text-decoration: inherit;
  color: inherit;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.connect-wallet-popup {
  position: relative;
  width: 320px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ffffff;
  background-color: #000000;
}
.connect-wallet-popup > .talker {
  position: absolute;
  left: 20px;
  top: -50px;
  width: 60px;
}
.connect-wallet-popup > p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.connect-wallet-popup > .button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: DungGeunMo;
}
.connect-wallet-popup > .button > img {
  margin-right: 10px;
}
.connect-wallet-popup > .connect-kaikas-button {
  background-color: #6f6558;
}
.connect-wallet-popup > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .cancel-button {
  border: 1px solid #ffffff;
}
.pc-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.pc-menu > ul {
  display: flex;
  justify-content: center;
}
.pc-menu > ul > li > a {
  display: block;
  padding: 20px 0;
  width: 200px;
  text-align: center;
  color: #06BC00;
  font-size: 20px;
}
.pc-menu > ul > li > ul {
  display: none;
  background-color: #000000;
  border: 1px solid #A1A1A1;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #BFC500;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.pc-menu > .language-select {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 2;
  font-size: 18px;
}
.pc-menu > .language-select > select {
  font-size: 18px;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: #000000;
  border: 1px solid #A1A1A1;
}
.mobile-menu > ul {
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 5px;
  color: #06BC00;
  font-size: 18px;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  color: #BFC500;
}
.mobile-menu > .language-select {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #A1A1A1;
}
.language-select {
  color: #BFC500;
  font-family: DungGeunMo;
}
.language-select > select {
  color: #BFC500;
  font-family: DungGeunMo;
  background-color: #000000;
  border: none;
}
@media only screen and (max-width: 719px) {
  .layout > header > .pc-menu {
    display: none;
  }
}
.layout > header > .menu-button {
  display: none;
  position: fixed;
  right: 10px;
  top: 12px;
  z-index: 2;
  padding: 10px;
}
.layout > header > .menu-button img {
  display: block;
}
@media only screen and (max-width: 719px) {
  .layout > header > .menu-button {
    display: block;
  }
}
.layout > footer {
  margin: auto;
  margin-top: 75px;
  padding: 40px 0;
  width: 80%;
  max-width: 1280px;
  border-top: 1px solid #ffffff;
  text-align: right;
  font-family: DungGeunMo;
  font-size: 20px;
}
.layout > footer > span {
  display: block;
}
.layout > footer > a {
  color: #BFC500;
}
@media only screen and (max-width: 719px) {
  .layout > footer {
    font-size: 16px;
  }
}
.home-view > .logo {
  position: fixed;
  left: 30px;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 719px) {
  .home-view > .logo {
    left: 0px;
    width: 120px;
  }
}
.home-view > header {
  height: 1100px;
  background-image: url(/images/club.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  position: relative;
}
@media only screen and (max-width: 719px) {
  .home-view > header {
    height: auto;
    padding: 0 30px;
  }
}
.home-view > header > .intro {
  padding-top: 300px;
  font-family: DungGeunMo;
  color: #BFC500;
  text-shadow: 3px 3px 3px #656565;
  text-align: center;
  font-size: 36px;
  line-height: 1.5em;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .intro {
    padding-top: 200px;
    font-size: 22px;
    text-align: left;
  }
}
.home-view > header > .description {
  margin-top: 9px;
  font-size: 22px;
  font-family: DungGeunMo;
  text-align: center;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .description {
    font-size: 16px;
    text-align: left;
  }
}
.home-view > header > .winner {
  max-width: 850px;
  margin: auto;
  margin-top: 300px;
  border: 8px solid;
  border-image: url("/images/view/home/winner.png") 8 fill / 8px round;
  color: #000000;
  font-family: DungGeunMo;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.home-view > header > .winner > a {
  color: #BFC500;
  text-decoration: underline;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .winner {
    margin-top: 40px;
    padding: 14px;
    font-size: 14px;
  }
}
.home-view > header > .dogesound {
  position: relative;
  max-width: 850px;
  margin: auto;
  margin-top: 15px;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .dogesound {
    margin-top: 80px;
  }
}
.home-view > header > .dogesound > .talker {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .dogesound > .talker {
    left: 40px;
    top: -65px;
    width: 75px;
  }
}
.home-view > header > .dogesound > .text {
  margin-left: 170px;
  height: 150px;
  padding: 15px;
  font-size: 22px;
  line-height: 1.5em;
  font-family: DungGeunMo;
  border: 3px solid #4B6F67;
  box-shadow: 12px 12px 7.5px 0px #4b6f67;
  background-color: #000000;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .dogesound > .text {
    margin-left: 0;
    font-size: 16px;
  }
}
.home-view > header > .dogesound > .warning {
  width: 88%;
  margin: auto;
  padding-top: 30px;
  font-family: DungGeunMo;
  color: #BFC500;
  font-size: 15px;
}
@media only screen and (max-width: 719px) {
  .home-view > header > .dogesound > .warning {
    font-size: 12px;
  }
}
.home-view > section {
  width: 750px;
  margin: auto;
  padding: 70px 0;
}
@media only screen and (max-width: 719px) {
  .home-view > section {
    width: auto;
    padding: 40px 20px;
  }
}
.home-view > section > .mates,
.home-view > section > .team {
  text-align: center;
  margin-bottom: 30px;
}
.home-view > section > .mates > img,
.home-view > section > .team > img {
  width: 100px;
}
@media only screen and (max-width: 719px) {
  .home-view > section > .mates > img,
  .home-view > section > .team > img {
    width: 50px;
  }
}
.home-view > section > .video {
  margin-top: 75px;
  width: 100%;
}
.home-view > section > .roadmap {
  width: 90%;
  margin: auto;
  margin-top: 75px;
}
@media only screen and (max-width: 719px) {
  .home-view > section > .roadmap {
    width: auto;
  }
}
.home-view > section > .roadmap > h3 {
  color: #00DCFF;
  text-shadow: 3px 3px 3px #656565;
  font-size: 30px;
  font-family: DungGeunMo;
}
.home-view > section > .roadmap > p {
  background-color: #121013;
  height: 90px;
  padding: 15px;
}
@media only screen and (max-width: 719px) {
  .home-view > section > .roadmap > p {
    height: 140px;
  }
}
.home-view > section > .roadmap:nth-child(odd) > h3 {
  text-align: right;
}
.home-view > section > .roadmap.percent30 > p {
  border: 3px solid #4B6F67;
  box-shadow: 10px 10px 7.5px 0px #4b6f67;
}
.home-view > section > .roadmap.percent50 > p {
  border: 3px solid #756946;
  box-shadow: 10px 10px 7.5px 0px #756946;
}
.home-view > section > .roadmap.percent70 > p {
  border: 3px solid #4F5258;
  box-shadow: 10px 10px 7.5px 0px #4f5258;
}
.home-view > section > .roadmap.percent100 > p {
  border: 3px solid #707070;
  box-shadow: 10px 10px 7.5px 0px #00dcff;
}
.home-view > section > h2 {
  font-size: 30px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 3px 3px 3px #656565;
  margin-bottom: 36px;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  .home-view > section > h2 {
    font-size: 24px;
  }
}
.home-view > section p {
  word-break: break-all;
  line-height: 2em;
}
.home-view > section p a {
  color: #BFC500;
}
.buymates-view {
  max-width: 750px;
  padding: 135px 15px;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  .buymates-view {
    padding: 90px 15px;
  }
}
.buymates-view > h1 {
  font-size: 30px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 3px 3px 3px #656565;
  margin-bottom: 30px;
  text-align: center;
}
.buymates-view > .opensea-logo {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}
.buymates-view > p {
  margin: 50px 0;
}
.buymates-view > p.warning {
  border: 1px solid #BFC500;
  color: #BFC500;
  padding: 20px;
  word-break: break-all;
}
.buymates-view > a {
  display: block;
  margin: auto;
  font-size: 20px;
  color: #000000;
  background-color: #FBFF72;
  box-shadow: 7.5px 7.5px 0px 0px #BFC500;
  text-align: center;
  width: 320px;
  padding: 12px 0;
  font-family: DungGeunMo;
  font-weight: bold;
}

